
## Last commit: 2015-09-30 09:18:49 UTC by root
version 12.1R1.9;
system {
    host-name asd;
    root-authentication {
        encrypted-password "$1$J.GtRv/.$LPynkoRLmjl8NnB8ratSN."; ## SECRET-DATA
    }
    services {
        netconf {
            ssh {
                connection-limit 250;
            }
        }
    }
}
interfaces {
    em0 {
        unit 0 {
            family inet {
                address 192.168.56.2/24;
            }
        }
    }
}
