
## Last commit: 2015-10-07 12:42:41 UTC by root
version 12.1R1.9;
system {
    host-name Jannick;
    root-authentication {
        encrypted-password "$1$J.GtRv/.$LPynkoRLmjl8NnB8ratSN."; ## SECRET-DATA
    }
    login {
        class Pythn {
            deny-commands set;
        }
    }
    services {
        ftp;
        ssh;
        telnet;
        netconf {
            ssh {
                connection-limit 250;
            }
        }
    }
}
interfaces {
    em0 {
        unit 0 {
            family inet {
                address 192.168.56.2/24;
            }
        }
    }
    em1 {
        unit 0 {
            family inet {
                address 192.168.1.1/24;
            }
            family inet6 {
                address fe80::1/64;
            }
        }
    }
}
routing-options {
    router-id 1.1.1.1;
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface em2.0;
        }
    }
}
firewall {
    filter f1 {
        term t1 {
            from {
                address {
                    192.168.1.2/32;
                }
            }
            then accept;
        }
    }
}
routing-instances {
    vr1 {
        instance-type virtual-router;
        interface em1.0;
    }
}
